@font-face {
  font-family: 'Montserrat-Regular';
  src: url('/public/fonts/Montserrat-Regular.ttf');
}

@font-face {
  font-family: 'Play-Bold';
  src: url('/public/fonts/Play-Bold.ttf');
}

@font-face {
  font-family: 'Play-Regular';
  src: url('/public/fonts/Play-Regular.ttf');
}