.gallery {
  //border: $border;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
    &__contentglr {
      //border: $border;
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }
    &__contentglrwrp {
      //border: $border;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      width: 65%;
    }
    &__albumglr {
      //border: $border;
      display: flex;
      width: 200px;
      height: 200px;
      margin: 30px;
        a {
          //border: $border;
          width: 100%;
          height: 100%;
            img {
              width: 100%;
              height: 100%;
            }
        }
    }
    &__albumglrempty {
      //border: $border;
      display: flex;
      justify-content: center;
      width: 100%;
        span {
          //border: $border;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 50px;
          margin-top: 30px;
          font-size: 1.3rem;
          font-family: Montserrat-Regular;
        }
    }



}