//------------------------------
//MIXINS

@mixin contentcurdescs {
  //border: $border;
  display: flex;
  align-items: center;
  height: 40px;
  span {
    &:nth-child(1) {
      text-align: center;
      font-weight: bolder;
      width: 150px;
    }
    //border: $border;
    font-size: 1.2rem;
    text-align: center;
    margin-right: 20px;
    font-family: Montserrat-Regular;
  }
}


//------------------------------

.current {
  //border: $border;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
    &__headercur {
      //border: $border;
    }
    &__contentcur {
      //border: $border;
      display: flex;
      justify-content: center;
      flex-grow: 1;
    }
    &__contentcurwrapper {
      //border: $border;
      display: flex;
      width: 70%;
    }
    &__contentcurpict {
      //border: $border;
      display: flex;
      justify-content: center;
      //align-items: center;
      width: 50%;
        img {
          //border: $border;
          width: 600px;
          height: 600px;
          margin-top: 30px;
        }
    }
    &__contentcurdesc {
      //border: $border;
      display: flex;
      justify-content: center;
      width: 50%;
    }
    &__contentcurdescwrapper {
      //border: $border;
      display: flex;
      flex-direction: column;
      justify-content: center;
      width: 600px;
      height: 600px;
      margin-top: 30px;
    }
    &__contentcurtitle {
      @include contentcurdescs;
      background-color: #faf5f6;
    }
    &__contentcurcategory {
      @include contentcurdescs;
      background-color: white;
    }
    &__contentcurvendorcode {
      @include contentcurdescs;
      background-color: #faf5f6;
    }
    &__contentcurmaterial {
      @include contentcurdescs;
      background-color: white;
    }
    &__contentcurstone {
      @include contentcurdescs;
      background-color: #faf5f6;
    }
    &__contentcurweight {
      @include contentcurdescs;
      background-color: white;
    }
    &__contentcursize {
      @include contentcurdescs;
      background-color: #faf5f6;
    }
    &__contentcurprice {
      @include contentcurdescs;
      background-color: white;
    }


}