//------------------------
// MIXINS

@mixin mixinform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: #f5f5f5;
  border-radius: 7px;
}

@mixin mixinbtn {
  border: none;
  border-radius: 7px;
  width: 370px;
  height: 50px;
  background-color: blueviolet;
  color: white;
  font-size: 1.3rem;
  font-family: Montserrat-Regular;
  font-weight: bolder;
  cursor: pointer;
  transition: $transition;
  &:hover {
    background-color: #442488;
    transition: $transition;
  }
}

//------------------------


.registered {
  //border: $border;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
  &__headerpers {
    //border: $border;
  }
  &__reglogpers {
    //border: $border;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
  &__reglogwrapper {
    //border: $border;
    display: flex;
    width: 65%;
    height: 100%;
  }
  &__login {
    //border: $border;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  &__loginhdr {
    //border: $border;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    span {
      font-size: 1.7rem;
      font-weight: bold;
      font-family: Montserrat-Regular;
    }
  }
  &__loginblock {
    //border: $border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  &__infomsg {
    //border: $border;
    display: flex;
    width: 550px;
    border-radius: 7px;
  }
  &__loginform {
    //border: $border;
    @include mixinform;
    input {
      border: 1px solid gray;
      width: 350px;
      height: 40px;
      padding-left: 15px;
      margin-bottom: 30px;
      font-size: 1.1rem;
      font-family: Montserrat-Regular;
      border-radius: 7px;
    }
    button {
      @include mixinbtn;
    }
  }



  &__footerpers {
    //border: $border;
  }
}