.personal {
  border: $border;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
    &__headerpers {
      border: $border;
    }
    &__reglogpers {
      border: $border;
      display: flex;
      justify-content: center;
      width: 100%;
      height: 100%;
    }
    &__reglogwrapper {
      border: $border;
      display: flex;
      width: 65%;
      height: 100%;
    }
    &__login {
      border: $border;
      display: flex;
      flex-direction: column;
      width: 50%;
      height: 100%;
    }
    &__loginhdr {
      border: $border;
      display: flex;
      justify-content: center;
      margin-top: 20px;
        span {
          font-size: 1.5rem;
          font-weight: bold;
          font-family: Montserrat-Regular;
        }
    }
    &__loginblock {
      border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
    }
    &__loginform {
      border: $border;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 80%;
      height: 80%;
        input {
          width: 350px;
          height: 30px;
          padding-left: 15px;
        }
    }
    &__registration {
      border: $border;
      display: flex;
      width: 50%;
    }


    &__footerpers {
      border: $border;
    }
}