@import "var.scss";
@import "fonts.scss";


//---------------------
// MIXINS

@mixin mixincontacts {
  border: $border;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  i {
    font-size: 1.7rem;
    margin-right: 10px;
  }
  span {
    font-size: 1.3rem;
    font-family: Play-Regular;
  }
}

//---------------------



body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}


.homepage {
  border: $border;
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
    &__header {
      border: $border;
      display: flex;
      justify-content: center;
      height: 100px;
    }
    &__hdrblock {
      border: $border;
      display: flex;
      width: 66%;
    }
    &__post {
      @include mixincontacts;
    }
    &__logo {
      border: $border;
      display: flex;
      justify-content: center;
      width: 40%;
        img {
          border: $border;
          height: 100%;
        }
    }
    &__phone {
      @include mixincontacts;
    }
}