@import "var.scss";
@import "fonts.scss";
@import "reglog.scss";
@import "registered.scss";
@import "catalog.scss";

//---------------------
// MIXINS

@mixin mixincontacts {
  //border: $border;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
  i {
    font-size: 1.7rem;
    margin-right: 10px;
  }
  span {
    font-size: 1.3rem;
    font-family: Play-Regular;
  }
}

@mixin mixininfo {
  //border: $border;
  display: flex;
  width: 20%;
}

//---------------------

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  transition: 1s ease-in-out 2s;
}

.homepage {
  //border: $border;
  display: flex;
  flex-direction: column;
  &__header {
    //border: $border;
    display: flex;
    justify-content: center;
    height: 100px;
  }
  &__headerwrapper {
    //border: $border;
    display: flex;
    width: 65%;
  }
  &__post {
    @include mixincontacts;
  }
  &__logo {
    //border: $border;
    display: flex;
    justify-content: center;
    width: 40%;
    a {
      //border: $border;
      display: flex;
      justify-content: center;
      align-items: center;
        img {
          //border: $border;
          align-self: center;
          height: 85%;
        }
    }
  }
  &__phone {
    @include mixincontacts;
  }

  &__navbar {
    //border: $border;
    display: flex;
    justify-content: center;
    height: 70px;
    background-color: $brendcolor;
  }
  &__navbarwrapper {
    //border: $border;
    display: flex;
    width: 65%;
  }
  &__navigation {
    //border: $border;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    a {
      text-decoration: none;
      margin-left: 20px;
      color: black;
      font-family: Play-Regular;
      //transition: $transition;
      &:hover {
        border-bottom: 1px solid black;
        font-weight: bold;
        //transition: $transition;
      }
    }
  }
  &__profile {
    //border: $border;
    display: flex;
    justify-content: flex-end;
    width: 30%;
    a {
      //border: $border;
      display: flex;
      justify-content: space-around;
      //flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: black;
      i {
        font-size: 30px;
        align-self: center;
        //height: 50%;
        color: black;
      }
      span {
        //border: $border;
        display: flex;
        align-items: center;
        font-size: 1rem;
        height: 30%;
        margin-left: 5px;
        font-family: Montserrat-Regular;
      }
    }
  }
  &__slider {
    //border: $border;
    display: flex;
    height: 700px;
    background-image: url("/public/assets/users/img/slide01.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
  &__info {
    //border: $border;
    display: flex;
    justify-content: center;
    height: 200px;
  }
  &__infowrapper {
    //border: $border;
    display: flex;
    justify-content: space-between;
    width: 65%;
  }
  &__delivery {
    @include mixininfo;
  }
  &__infologo {
    //border: $border;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
  }
  &__infobackground {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: $brendcolor;
    i {
      font-size: 1.5rem;
    }
  }
  &__infotext {
    //border: $border;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    span {
      font-size: 1rem;
      font-family: Play-Regular;
      text-align: center;
      &:nth-child(1) {
        font-weight: bold;
      }
      &:nth-child(2) {
        font-size: 0.8rem;
      }
    }
  }
  &__gift {
    @include mixininfo;
  }
  &__back {
    @include mixininfo;
  }
  &__support {
    @include mixininfo;
  }

  &__newitems {
    //border: $border;
    display: flex;
    flex-direction: column;
  }
  &__newitemtitle {
    //border: $border;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    //margin-bottom: 50px;
    span {
      font-size: 2.3rem;
      font-family: Play-Regular;
    }
  }
  &__items {
    //border: $border;
    display: flex;
    justify-content: center;
    //height: 100px;
  }
  &__itemswrapper {
    //border: $border;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 65%;
  }
  &__cardproduct {
    border: 1px solid black;
    display: flex;
    width: 270px;
    height: 400px;
    margin: 20px 0;
    text-decoration: none;
    font-family: Play-Regular;
  }
  &__cardproductform {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
  }
  &__pict {
    border-bottom: 1px solid black;
    display: flex;
    width: 100%;
    height: 100%;
      a {
        display: flex;
        align-items: center;
        width: 100%;
        height: 100%;
          img {
            width: 265px;
            height: 265px;
          }
      }
      &:hover {
        .homepage__addfuncs {
          //border: $border;
          display: flex;
          position: absolute;
          opacity: 1;
          transition: $transition;
            a {
              position: relative;
              left: 230px;
              opacity: 1;
              transition: $transition;
            }
        }
      }
  }

  &__addfuncs {
    //border: $border;
    display: flex;
    flex-direction: column;
    position: absolute;
    //left: 5px;
    opacity: 0;
    transition: $transition;
    a {
      position: relative;
      left: 270px;
      top: 5px;
      padding: 10px;
      margin-bottom: 5px;
      background-color: $brendcolor;
      width: 15px;
      height: 15px;
      text-decoration: none;
      opacity: 0;
      transition: $transition;
      i {
        color: black;
      }
    }
  }

  &__productinfo {
    //border: $border;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 25%;
    transition: $transition;
    &:hover {
      transition: $transition;
      button {
        position: relative;
        opacity: 1;
        top: 0px;
        cursor: pointer;
        transition: $transition;
      }
    }
    span {
      //border: $border;
      align-self: center;
      font-size: 1.3rem;
      color: black;
      width: 95%;
      height: 30px;
      text-align: center;
        &:nth-child(2) {
          font-weight: bolder;
        }
    }
    button {
      opacity: 0;
      position: relative;
      top: 20px;
      width: 150px;
      height: 40px;
      font-size: 1.1rem;
      font-family: Play-Regular;
      background-color: $brendcolor;
      border: none;
      transition: $transition;
    }
  }

  &__category {
    //border: $border;
    display: flex;
    justify-content: center;
    height: 600px;
  }
  &__categorywrapper {
    //border: $border;
    display: flex;
    width: 65%;
    height: 100%;
  }
  &__leftblock {
    //border: $border;
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
  }
  &__lefttopblock {
    //border: $border;
    display: flex;
    height: 40%;
    width: 100%;
    a {
      //border: $border;
      width: 100%;
      margin: 10px;
      img {
        //border: $border;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__leftbottomblock {
    //border: $border;
    display: flex;
    height: 60%;
    width: 100%;
    a {
      //border: $border;
      width: 100%;
      margin: 10px;
      img {
        //border: $border;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__rightblock {
    //border: $border;
    display: flex;
    flex-direction: column;
    width: 50%;
  }
  &__righttopblock {
    //border: $border;
    display: flex;
    height: 60%;
    a {
      //border: $border;
      width: 100%;
      margin: 10px;
      img {
        //border: $border;
        width: 100%;
        height: 100%;
      }
    }
  }
  &__rightbottomblock {
    //border: $border;
    display: flex;
    height: 40%;
    a {
      //border: $border;
      width: 100%;
      margin: 10px;
      img {
        //border: $border;
        width: 100%;
        height: 100%;
      }
    }
  }

  &__off {
    //border: $border;
    display: flex;
    justify-content: center;
    //height: 500px;
    margin: 20px 0;
  }
  &__offwrapper {
    //border: $border;
    display: flex;
    justify-content: center;
    width: 100%;
    a {
      //border: $border;
      display: flex;
      width: 100%;
      img {
        width: 100%;
      }
    }
  }

  &__blog {
    //border: $border;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  &__blogwrapper {
    //border: $border;
    display: flex;
    flex-direction: column;
    width: 65%;
  }
  &__bloghdr {
    //border: $border;
    display: flex;
    justify-content: center;
    span {
      font-size: 2.3rem;
      font-family: Play-Regular;
    }
  }
  &__blogcontent {
    //border: $border;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
  }
  &__blogpost {
    //border: $border;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    margin: 30px 0;
    a {
      //border: $border;
      height: 100%;
      text-decoration: none;
      color: black;
      height: 400px;
    }
  }
  &__blogpostimg {
    //border: $border;
    height: 300px;
    width: 300px;
    overflow: hidden;
    img {
      height: 100%;
    }
  }
  &__blogpostcontent {
    //border: $border;
    display: flex;
    flex-direction: column;
    height: 100px;
    span {
      //border: $border;
      font-family: Montserrat-Regular;
      padding-left: 10px;
      &:nth-child(1) {
        font-size: 1.1rem;
        font-weight: bolder;
      }
      &:nth-child(2) {
        height: 100%;
      }
    }
  }

  &__partners {
    //border: $border;
    display: flex;
    justify-content: center;
    height: 200px;
    margin-bottom: 30px;
  }
  &__partnerswrapper {
    //border: $border;
    display: flex;
    flex-direction: column;
    width: 65%;
  }
  &__partnershdr {
    //border: $border;
    display: flex;
    justify-content: center;
    span {
      font-size: 2.3rem;
      font-family: Play-Regular;
    }
  }
  &__partnerscurrent {
    //border: $border;
    display: flex;
    justify-content: space-between;
    height: 100%;
    img {
      //border: $border;
      width: 140px;
      height: 140px;
      margin: 0 10px;
    }

  }

  &__footer {
    //border: $border;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    background-color: $brendcolor;
    span {
      font-size: 1.3rem;
      font-family: Montserrat-Regular;
      font-weight: bolder;
    }
  }

}





//------------------------------
// OTHER GLOBAL BLOCKS

.top  {
  //border: $border;
  display: none;
  position: fixed;
  bottom: 0%;
  right: 0%;
  align-self: flex-end;
  width: 50px;
  height: 50px;
  margin: 0 10px 5px 0;
  background-color: $brendcolor;
  border-radius: 50%;
  cursor: pointer;
  transition: $transition;
  img {
    width: 100%;
    height: 100%;
    transition: $transition;
  }
}



.errors {
  //border: $border;
  display: flex;
  justify-content: center;
  background-color: $backgrounderror;
  width: 100%;
  border-radius: 7px;
  ul {
    li {
      color: $colorerror;
      font-weight: bold;
      font-family: Montserrat-Regular;
    }
  }
}

//------------------------------



