@font-face {
  font-family: "Montserrat-Regular";
  src: url("/public/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Play-Bold";
  src: url("/public/fonts/Play-Bold.ttf");
}
@font-face {
  font-family: "Play-Regular";
  src: url("/public/fonts/Play-Regular.ttf");
}
.personal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}
.personal__personaldata {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: 50px;
}
.personal__headerpersonal {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #F8F9FA;
}
.personal__headerpersonal span {
  font-size: 1.5rem;
  font-weight: bold;
  font-family: Montserrat-Regular;
  padding: 10px 0;
}
.personal__alldatas {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  height: 100%;
}
.personal__alldatas h3 {
  font-family: Montserrat-Regular;
}
.personal__alldatas a {
  text-decoration: none;
  font-family: Montserrat-Regular;
  font-weight: bold;
  font-size: 1.3rem;
  color: black;
}
.personal__reglogpers {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.personal__reglogwrapper {
  display: flex;
  width: 65%;
  height: 100%;
}
.personal__login {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.personal__loginhdr {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.personal__loginhdr span {
  font-size: 1.7rem;
  font-weight: bold;
  font-family: Montserrat-Regular;
}
.personal__loginblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.personal__authinfo {
  display: flex;
  justify-content: center;
  width: 80%;
  margin-bottom: 10px;
  border-radius: 7px;
  background-color: #ffcece;
  color: #a70000;
  font-weight: bold;
  font-family: Montserrat-Regular;
}
.personal__loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: #f5f5f5;
  border-radius: 7px;
}
.personal__loginform input {
  border: 1px solid gray;
  width: 350px;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 30px;
  font-size: 1.1rem;
  border-radius: 7px;
  font-family: Montserrat-Regular;
}
.personal__loginform button {
  border: none;
  width: 370px;
  height: 45px;
  background-color: blueviolet;
  color: white;
  font-size: 1.3rem;
  font-family: Montserrat-Regular;
  font-weight: bolder;
  border-radius: 7px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.personal__loginform button:hover {
  background-color: #442488;
  transition: ease-in-out 0.5s;
}
.personal__registration {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.personal__regform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: #f5f5f5;
  border-radius: 7px;
}
.personal__regform span {
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
  text-align: center;
  margin-bottom: 40px;
}
.personal__regform button {
  border: none;
  width: 370px;
  height: 45px;
  background-color: blueviolet;
  color: white;
  font-size: 1.3rem;
  font-family: Montserrat-Regular;
  font-weight: bolder;
  border-radius: 7px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.personal__regform button:hover {
  background-color: #442488;
  transition: ease-in-out 0.5s;
}
.registered {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 100vw;
}
.registered__reglogpers {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100%;
}
.registered__reglogwrapper {
  display: flex;
  width: 65%;
  height: 100%;
}
.registered__login {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.registered__loginhdr {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}
.registered__loginhdr span {
  font-size: 1.7rem;
  font-weight: bold;
  font-family: Montserrat-Regular;
}
.registered__loginblock {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
.registered__infomsg {
  display: flex;
  justify-content: center;
  width: 550px;
  border-radius: 7px;
  margin-bottom: 10px;
}
.registered__loginform {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 80%;
  background-color: #f5f5f5;
  border-radius: 7px;
}
.registered__loginform input {
  border: 1px solid gray;
  width: 350px;
  height: 40px;
  padding-left: 15px;
  margin-bottom: 30px;
  font-size: 1.1rem;
  font-family: Montserrat-Regular;
  border-radius: 7px;
}
.registered__loginform button {
  border: none;
  border-radius: 7px;
  width: 370px;
  height: 50px;
  background-color: blueviolet;
  color: white;
  font-size: 1.3rem;
  font-family: Montserrat-Regular;
  font-weight: bolder;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.registered__loginform button:hover {
  background-color: #442488;
  transition: ease-in-out 0.5s;
}
.catalog {
  display: flex;
  flex-direction: column;
}
.catalog__contentcat {
  display: flex;
  justify-content: center;
  height: 100%;
}
.catalog__catwrapper {
  display: flex;
  flex-direction: column;
  width: 80%;
}
.catalog__searchcat {
  display: flex;
  width: 100%;
  height: 50px;
  margin-top: 15px;
}
.catalog__formsearch {
  display: flex;
  width: 100%;
  height: 100%;
}
.catalog__formsearch input {
  width: 100%;
  font-size: 1.3rem;
  font-family: Montserrat-Regular;
  padding-left: 15px;
}
.catalog__productscat {
  display: flex;
  height: 100%;
}
.catalog__filter {
  display: flex;
  width: 20%;
}
.catalog__filterform {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.catalog__filtercategory {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}
.catalog__filtercategoryhdr {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #fae5e8;
}
.catalog__filtercategoryhdr span {
  margin-left: 15px;
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
}
.catalog__filtercategoryitems {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}
.catalog__itemcategory {
  display: flex;
  align-items: center;
  height: 35px;
  padding-left: 10px;
}
.catalog__itemcategory label {
  font-size: 1.1rem;
  font-family: Montserrat-Regular;
}
.catalog__filtermaterial {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}
.catalog__filtermaterialhdr {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #fae5e8;
}
.catalog__filtermaterialhdr span {
  margin-left: 15px;
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
}
.catalog__filtermaterialitems {
  display: flex;
  flex-direction: column;
}
.catalog__itemmaterial {
  display: flex;
  align-items: center;
  height: 35px;
  padding-left: 10px;
}
.catalog__itemmaterial label {
  font-size: 1.1rem;
  font-family: Montserrat-Regular;
}
.catalog__filterstone {
  border: 1px solid gray;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 25px;
}
.catalog__filterstonehdr {
  display: flex;
  align-items: center;
  height: 50px;
  background-color: #fae5e8;
}
.catalog__filterstonehdr span {
  margin-left: 15px;
  font-size: 1.2rem;
  font-family: Montserrat-Regular;
}
.catalog__filterstoneitems {
  display: flex;
  flex-direction: column;
}
.catalog__itemstone {
  display: flex;
  align-items: center;
  height: 35px;
  padding-left: 10px;
}
.catalog__itemstone label {
  font-size: 1.1rem;
  font-family: Montserrat-Regular;
}
.catalog__btnshow {
  display: flex;
  width: 100%;
  margin-top: 25px;
}
.catalog__btnshow button {
  border: none;
  height: 50px;
  width: 100%;
  background-color: #fae5e8;
  font-size: 1rem;
  font-weight: bolder;
  font-family: Montserrat-Regular;
  cursor: pointer;
}
.catalog__allproducts {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 80%;
}
.catalog__allprodsorting {
  display: flex;
  align-self: flex-end;
  margin-top: 25px;
  height: 45px;
  width: 97%;
  background-color: #fae5e8;
}
.catalog__allprodscards {
  display: flex;
  flex-grow: 1;
}
.catalog__allprodspagination {
  display: flex;
  align-self: flex-end;
  height: 50px;
  width: 97%;
  background-color: #fae5e8;
}
.catalog__footercat {
  margin-top: 50px;
}

html {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  transition: 1s ease-in-out 2s;
}

.homepage {
  display: flex;
  flex-direction: column;
}
.homepage__header {
  display: flex;
  justify-content: center;
  height: 100px;
}
.homepage__headerwrapper {
  display: flex;
  width: 65%;
}
.homepage__post {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.homepage__post i {
  font-size: 1.7rem;
  margin-right: 10px;
}
.homepage__post span {
  font-size: 1.3rem;
  font-family: Play-Regular;
}
.homepage__logo {
  display: flex;
  justify-content: center;
  width: 40%;
}
.homepage__logo a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.homepage__logo a img {
  align-self: center;
  height: 85%;
}
.homepage__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.homepage__phone i {
  font-size: 1.7rem;
  margin-right: 10px;
}
.homepage__phone span {
  font-size: 1.3rem;
  font-family: Play-Regular;
}
.homepage__navbar {
  display: flex;
  justify-content: center;
  height: 70px;
  background-color: #fae5e8;
}
.homepage__navbarwrapper {
  display: flex;
  width: 65%;
}
.homepage__navigation {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}
.homepage__navigation a {
  text-decoration: none;
  margin-left: 20px;
  color: black;
  font-family: Play-Regular;
}
.homepage__navigation a:hover {
  border-bottom: 1px solid black;
  font-weight: bold;
}
.homepage__profile {
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
.homepage__profile a {
  display: flex;
  justify-content: space-around;
  align-items: center;
  text-decoration: none;
  color: black;
}
.homepage__profile a i {
  font-size: 30px;
  align-self: center;
  color: black;
}
.homepage__profile a span {
  display: flex;
  align-items: center;
  font-size: 1rem;
  height: 30%;
  margin-left: 5px;
  font-family: Montserrat-Regular;
}
.homepage__slider {
  display: flex;
  height: 700px;
  background-image: url("/public/assets/users/img/slide01.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.homepage__info {
  display: flex;
  justify-content: center;
  height: 200px;
}
.homepage__infowrapper {
  display: flex;
  justify-content: space-between;
  width: 65%;
}
.homepage__delivery {
  display: flex;
  width: 20%;
}
.homepage__infologo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}
.homepage__infobackground {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fae5e8;
}
.homepage__infobackground i {
  font-size: 1.5rem;
}
.homepage__infotext {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.homepage__infotext span {
  font-size: 1rem;
  font-family: Play-Regular;
  text-align: center;
}
.homepage__infotext span:nth-child(1) {
  font-weight: bold;
}
.homepage__infotext span:nth-child(2) {
  font-size: 0.8rem;
}
.homepage__gift {
  display: flex;
  width: 20%;
}
.homepage__back {
  display: flex;
  width: 20%;
}
.homepage__support {
  display: flex;
  width: 20%;
}
.homepage__newitems {
  display: flex;
  flex-direction: column;
}
.homepage__newitemtitle {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
}
.homepage__newitemtitle span {
  font-size: 2.3rem;
  font-family: Play-Regular;
}
.homepage__items {
  display: flex;
  justify-content: center;
}
.homepage__itemswrapper {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 65%;
}
.homepage__cardproduct {
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  width: 270px;
  height: 400px;
  margin: 20px 0;
  text-decoration: none;
  font-family: Play-Regular;
}
.homepage__pict {
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75%;
  overflow: hidden;
}
.homepage__pict:hover .homepage__addfuncs {
  display: flex;
  left: 110px;
  opacity: 1;
  transition: ease-in-out 0.5s;
}
.homepage__pict img {
  position: absolute;
  width: 270px;
  height: 270px;
}
.homepage__addfuncs {
  display: none;
  flex-direction: column;
  position: relative;
  z-index: 10;
  left: 130px;
  bottom: 100px;
  opacity: 0;
  transition: ease-in-out 0.5s;
}
.homepage__addfuncs a {
  padding: 10px;
  margin-bottom: 5px;
  background-color: #fae5e8;
}
.homepage__addfuncs a i {
  color: black;
}
.homepage__productinfo {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 25%;
  transition: ease-in-out 0.5s;
}
.homepage__productinfo:hover {
  transition: ease-in-out 0.5s;
}
.homepage__productinfo:hover button {
  opacity: 1;
  top: 0px;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.homepage__productinfo span {
  align-self: center;
  font-size: 1rem;
  color: black;
}
.homepage__productinfo button {
  opacity: 0;
  position: relative;
  top: 20px;
  width: 150px;
  height: 40px;
  font-size: 1.1rem;
  font-family: Play-Regular;
  background-color: #fae5e8;
  border: none;
  transition: ease-in-out 0.5s;
}
.homepage__category {
  display: flex;
  justify-content: center;
  height: 600px;
}
.homepage__categorywrapper {
  display: flex;
  width: 65%;
  height: 100%;
}
.homepage__leftblock {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
}
.homepage__lefttopblock {
  display: flex;
  height: 40%;
  width: 100%;
}
.homepage__lefttopblock a {
  width: 100%;
  margin: 10px;
}
.homepage__lefttopblock a img {
  width: 100%;
  height: 100%;
}
.homepage__leftbottomblock {
  display: flex;
  height: 60%;
  width: 100%;
}
.homepage__leftbottomblock a {
  width: 100%;
  margin: 10px;
}
.homepage__leftbottomblock a img {
  width: 100%;
  height: 100%;
}
.homepage__rightblock {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.homepage__righttopblock {
  display: flex;
  height: 60%;
}
.homepage__righttopblock a {
  width: 100%;
  margin: 10px;
}
.homepage__righttopblock a img {
  width: 100%;
  height: 100%;
}
.homepage__rightbottomblock {
  display: flex;
  height: 40%;
}
.homepage__rightbottomblock a {
  width: 100%;
  margin: 10px;
}
.homepage__rightbottomblock a img {
  width: 100%;
  height: 100%;
}
.homepage__off {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}
.homepage__offwrapper {
  display: flex;
  justify-content: center;
  width: 100%;
}
.homepage__offwrapper a {
  display: flex;
  width: 100%;
}
.homepage__offwrapper a img {
  width: 100%;
}
.homepage__blog {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.homepage__blogwrapper {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.homepage__bloghdr {
  display: flex;
  justify-content: center;
}
.homepage__bloghdr span {
  font-size: 2.3rem;
  font-family: Play-Regular;
}
.homepage__blogcontent {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.homepage__blogpost {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 400px;
  margin: 30px 0;
}
.homepage__blogpost a {
  height: 100%;
  text-decoration: none;
  color: black;
  height: 400px;
}
.homepage__blogpostimg {
  height: 300px;
  width: 300px;
  overflow: hidden;
}
.homepage__blogpostimg img {
  height: 100%;
}
.homepage__blogpostcontent {
  display: flex;
  flex-direction: column;
  height: 100px;
}
.homepage__blogpostcontent span {
  font-family: Montserrat-Regular;
  padding-left: 10px;
}
.homepage__blogpostcontent span:nth-child(1) {
  font-size: 1.1rem;
  font-weight: bolder;
}
.homepage__blogpostcontent span:nth-child(2) {
  height: 100%;
}
.homepage__partners {
  display: flex;
  justify-content: center;
  height: 200px;
  margin-bottom: 30px;
}
.homepage__partnerswrapper {
  display: flex;
  flex-direction: column;
  width: 65%;
}
.homepage__partnershdr {
  display: flex;
  justify-content: center;
}
.homepage__partnershdr span {
  font-size: 2.3rem;
  font-family: Play-Regular;
}
.homepage__partnerscurrent {
  display: flex;
  justify-content: space-between;
  height: 100%;
}
.homepage__partnerscurrent img {
  width: 140px;
  height: 140px;
  margin: 0 10px;
}
.homepage__footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  background-color: #fae5e8;
}
.homepage__footer span {
  font-size: 1.3rem;
  font-family: Montserrat-Regular;
  font-weight: bolder;
}

.top {
  display: none;
  position: fixed;
  bottom: 0%;
  right: 0%;
  align-self: flex-end;
  width: 50px;
  height: 50px;
  margin: 0 10px 5px 0;
  background-color: #fae5e8;
  border-radius: 50%;
  cursor: pointer;
  transition: ease-in-out 0.5s;
}
.top img {
  width: 100%;
  height: 100%;
  transition: ease-in-out 0.5s;
}

.errors {
  display: flex;
  justify-content: center;
  background-color: #ffcece;
  width: 100%;
  border-radius: 7px;
}
.errors ul li {
  color: #a70000;
  font-weight: bold;
  font-family: Montserrat-Regular;
}
