@font-face {
  font-family: "Montserrat-Regular";
  src: url("/public/fonts/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Play-Bold";
  src: url("/public/fonts/Play-Bold.ttf");
}
@font-face {
  font-family: "Play-Regular";
  src: url("/public/fonts/Play-Regular.ttf");
}
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
}

.homepage {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}
.homepage__header {
  display: flex;
  justify-content: center;
  height: 100px;
}
.homepage__headerwrapper {
  display: flex;
  width: 65%;
}
.homepage__post {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.homepage__post i {
  font-size: 1.7rem;
  margin-right: 10px;
}
.homepage__post span {
  font-size: 1.3rem;
  font-family: Play-Regular;
}
.homepage__logo {
  display: flex;
  justify-content: center;
  width: 40%;
}
.homepage__logo img {
  align-self: center;
  height: 95%;
}
.homepage__phone {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30%;
}
.homepage__phone i {
  font-size: 1.7rem;
  margin-right: 10px;
}
.homepage__phone span {
  font-size: 1.3rem;
  font-family: Play-Regular;
}
.homepage__navbar {
  border: 1px solid red;
  display: flex;
  justify-content: center;
  height: 50px;
  background-color: #fbf6eb;
}
.homepage__navbarwrapper {
  border: 1px solid red;
  display: flex;
  width: 65%;
}
.homepage__navigation {
  border: 1px solid red;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 70%;
}
.homepage__navigation a {
  text-decoration: none;
  margin-left: 20px;
  color: black;
  font-family: Play-Regular;
}
.homepage__navigation a:hover {
  border-bottom: 1px solid black;
  font-weight: bold;
}
.homepage__profile {
  border: 1px solid red;
  display: flex;
  width: 30%;
}
